.container {
	width: 75%;
	margin: 0 auto;
	min-height: 200px;
}
.content_box1 {
	width: 100%;
	margin: 0 auto;
}
.content_box1 h2 {
	width: 20%;
	font-size: 40px;
	font-weight: bold;
}
.content_box1 p {
	width: 15%;
	float: right;
	margin-top: -75px;
	font-size: 22px;
	font-weight: bold;
}
.content_box1 span {
	color: #d90000;
}


.cont {
	width: 85%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}
.cont img {
	margin-bottom: 20px;
}
.cont p {
	font-size: 24px;
	font-weight: bold;
	color: #575757;
	text-align: center;
}

.content_box2 {
	border-top: 1px solid #cecece;
	padding-top: 35px;
	padding-bottom: 35px;
	overflow: auto;
}
.content_box2 li {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.8em;
}
.content_box2 ul {
	float: left;
}
.content_box2 img {
	width: 200px;
	float: right;
}

.clear {
	clear: both;
}